{% extends "layouts/base.html" %}
{% block content %}
    <article class="intro">
        <div>
            <h1>{{  intro.eyebrow }}
                <em>{{ intro.main }}</em>
            </h1>    
        </div>
        <div>
            <p>{{ intro.summary }}</p>
            <a href="{{ intro.buttonUrl }}" class="button">{{ intro.buttonText }} </a>
        </div>
        <div>
            <img src="{{ intro.image }}" alt="{{ intro.imageAlt }}" />
        </div>
    </article>
    {% set ctaContent = primaryCTA %}
        {% include "partials/cta.html" %}
    
    {% set ctaContent = cta %}
        {% include "partials/cta.html" %}
{% endblock %}